/****************************************************
#####################################################
##-------------------------------------------------##
##                 retro star 2                    ##
##-------------------------------------------------##
## Copyright = globbersthemes.com- 2012            ##
## Date      = decembre 2012                       #
## Author    = globbers                            ##
## Websites  = http://www.globbersthemes.com       ##
##                                                 ##
#####################################################
****************************************************/

 html { 
 height: 100%;


 }  


 body{
 margin:0;  
 padding:0;  
 text-align:center;  
 background:#fff url(../images/bg.jpg) 0 0 repeat ;  
 font-size:13px;  
 color:#6a797a;  
 font-family: tahoma, arial, sans-serif;  
 font-weight:bold; 

 }  


 p {  
 font-size: 100%;  

 }  

 h1 {  
 font-size: 200%; 

 }  


 h2 {  
 font-size: 150%; 

 }  

 h3 { 
 font-size: 125%; 

 }  

 h4, h5, h6 {  
 font-size: 100%; 

 }  


 /* liens hypertextes*/  
 a:link, a:visited {  
text-decoration:none;  
color:#6a797a; 
font-weight:bold; 

 } 


 a:hover {  
 color:#c29862; 

 }  

 ul { margin:0;  
 padding-left:20px; 

 }  


 li {  list-style-type:square;  
 background:transparent; 
 margin: 4px;  

 }  


 img {  
 border:none;  
 margin:5px;  
 padding:0; 

 }  


 img .caption {  
 text-align: left; 

 }  


 .highlight{  
 background:#c29862;  
 padding: 0px 2px 0px 2px;  
 color:#ffffff;  
 -moz-border-radius: 6px 6px 6px 6px;  
 -webkit-border-radius: 6px 6px 6px 6px;  
 border-radius: 6px 6px 6px 6px;  
 -webkit-border-top-left-radius: 6px; 

 /* pour Chrome */   
 -webkit-border-top-right-radius: 6px;  

 /* pour Chrome */   
 -webkit-border-top-top-radius: 6px;  

 /* pour Chrome */   
 -webkit-border-top-bottom-radius: 6px;  

 /* pour Chrome */  


 }  


 .button {  

 background:#c29862;  
 border:none;  
 color:#fff;  
 font-weight:bold;  
 padding:4px;  
 -moz-border-radius: 6px 6px 6px 6px;  
 -webkit-border-radius: 6px 6px 6px 6px; 
 border-radius: 6px 6px 6px 6px;  
 -webkit-border-top-left-radius: 6px;  
 /* pour Chrome */  
 -webkit-border-top-right-radius: 6px;  
 /* pour Chrome */   
 -webkit-border-top-top-radius: 6px;  
 /* pour Chrome */   
 -webkit-border-top-bottom-radius: 6px; 
 /* pour Chrome */ 


 } 

 .inputbox {  
 color:#fff;  
 background:#c29862;  
 border:none; 
 padding:4px; 
 font-weight:bold; 
 -moz-border-radius: 6px 6px 6px 6px;   
 -webkit-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;  
 -webkit-border-top-left-radius: 6px; 
 /* pour Chrome */   
 -webkit-border-top-right-radius: 6px; 
 /* pour Chrome */  
 -webkit-border-top-top-radius: 6px; 
 /* pour Chrome */  
 -webkit-border-top-bottom-radius: 6px; 
 /* pour Chrome */ 

 }


.pagewidth{
 width:900px; 
 text-align:center;
 background:transparent; 
 margin-left:auto;
 margin-right:auto;
 margin-top:0px;
 margin-bottom:0px;
 position:relative;

} 

 fieldset {
 margin:5px; 
 padding:5px;
 border:none;
}   

label{
font-size:13px;

}
 /*************************/ 
#header {
float:left;
width:100%;
height:194px;
background: url(../images/header.jpg) 0 0 repeat-x;

}

#header-top {
float:left;
width:100%;
height:80px;
background: transparent;

}

#sitename {
float:left;
text-align:left;
margin-top:10px;

}

/**********************/
#search {
float:right;
width:219px;
height:41px;
background: url(../images/search.png) 0 0 no-repeat;
margin-top:20px;
text-align:left !important;

}

#search .inputbox{
background:transparent;
color:#515d5e;
text-align:left !important;
margin-top:14px !important;
margin-left:6px !important;
padding:0;
}

/*******************/
#header-bottom {
float:left;
width:100%;
height:75px;
background:transparent;

}

#topmenu {
float:left;
width:100%;
height:70px;
background:transparent ;

}

.navigation {
float:left;
width: 900px;
height:40px;
background:transparent; 
margin-top:17px;
margin-left:10px;

}

 .navigation ul {
list-style : none;
margin : 0;
padding : 0;
float : left;

}

.navigation ul ul {
margin : 0;
padding : 0;

}

.navigation ul li {
margin : 0 7px;
padding : 0;
float : left;
list-style : none;
background : none;
display : block;

}

.navigation ul li ul {
width : 200px;
position : absolute;
z-index : 99;
left : -999em;
height : auto;
width : 200px;

}

.navigation ul li ul ul {
margin : 0;

}

.navigation ul li li {
padding : 0;
margin : 0;
width : 100%;

}

.navigation ul ul a {
width : 100%;

}

.navigation ul li:hover ul ul, 
.navigation ul li:hover ul ul ul, 
.navigation ul li.sfhover ul ul, 
.navigation ul li.havechildsfhover ul ul,
 .navigation ul li.havechild-activesfhover ul ul, 
 .navigation ul li.activesfhover ul ul, 
 .navigation ul li.sfhover ul ul ul, 
 .navigation ul li.havechildsfhover ul ul ul, 
 .navigation ul li.havechild-activesfhover ul ul ul, 
 .navigation ul li.activesfhover ul ul ul {
left : -999em;

}

.navigation ul li:hover ul, 
.navigation ul li li:hover ul, 
.navigation ul li li li:hover ul,
 .navigation ul li.sfhover ul, 
 .navigation ul li.havechildsfhover ul,
 .navigation ul li.havechild-activesfhover ul, 
 .navigation ul li.activesfhover ul,
 .navigation ul li li.sfhover ul,
 .navigation ul li li.havesubchildsfhover ul, 
 .navigation ul li li.havesubchild-activesfhover ul, 
 .navigation ul li li.activesfhover ul, 
 .navigation ul li li li.sfhover ul, 
 .navigation ul li li li.havesubchildsfhover ul,
 .navigation ul li li li.havesubchild-activesfhover ul,
 .navigation ul li li li.activesfhover ul {
left : auto;

}

.navigation ul li a {
padding : 11px 14px 0 16px;
margin : 0;
display : block;
font-weight : normal;
font-size : 20px;
text-transform : capitalize;
height : 37px;
background : transparent;
color : #fff;

}
.navigation ul li {
background : transparent;
height : 37px;

}

.navigation ul li span {
background : transparent;
height : 34px;
padding : 0;
margin : 0;

}

.navigation li.active {
height : 37px;
background : transparent url(../images/topmenu_02.jpg) no-repeat 100% 0;

}

.navigation li.active span {
height : 37px;
background : transparent url(../images/topmenu_01.jpg) no-repeat 0 0;

}
.navigation li.active a {
color : #fff;
height : 37px;
background : transparent url(../images/topmenu_01.jpg) no-repeat 0 0;
color : #6a797a;

}
.navigation li:hover {
height : 37px;
background : transparent url(../images/topmenu_02.jpg) no-repeat 100% 0;

}

.navigation li:hover span {
height : 37px;
background : transparent url(../images/topmenu_01.jpg) no-repeat 0 0;

}

.navigation li:hover a {
height : 37px;
color : #fff;
background : transparent url(../images/topmenu_01.jpg) no-repeat 0 0;
color : #6a797a;

}
.navigation ul li ul {
background : url(../images/bg-ul.jpg) repeat 0 0;
margin-top : 0px;
padding-bottom : 10px;
padding-top : 5px;
text-align : left !important ;

}
.navigation ul li ul li {
height : 41px !important ;

}

.navigation ul li ul li a:hover, 
.navigation ul li ul li.active a {
color : #000 !important ;
height : 41px !important ;

}

.navigation ul li ul li a {
color : #fff !important ;
height : 41px !important ;
padding-left : 31px;
background : url(../images/puce.png) no-repeat 15px 15px !important;

}

.navigation ul li ul li:hover {
height : 41px;
background : transparent;

}

.navigation ul li ul li.active {
height : 41px;
background : none;

}

.navigation ul li ul li.active span {
height : 41px;
background : none;

}

.navigation ul li ul li.active a {
height : 41px;
background : none;
color : #2d2d2d;

}

.navigation ul li ul li ul {
margin-left : 180px;
margin-top : -30px;
padding-bottom : 3px;
padding-top : 0;
text-align : left !important ;
padding-bottom : 0;

} 

/*******************/
#wrapper-slide{
float:left;
width:600px;
height:400px;
background:transparent ;

}

#slide{
float:left;
width:583px;
height:369px;
margin-left:0px;
margin-top:0px;
margin-bottom:0px;
background:transparent ;

}

/* The Nivo Slider styles */
.nivoSlider {
float:left;
position:relative;
width: 583px;
height: 369px;
background: url(../images/loading.gif) no-repeat 50% 50%;

}

.nivoSlider img {
	position:absolute;
	top:0;
	left:0px;
	display:none;
    width:584px; /* Make sure your images are the same size */
    height:369px; /* Make sure your images are the same size */


}

.nivoSlider a {
border:0;
    display:block;
	color: #fff;

}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;

}

/* The slices and boxes in the Slider */

.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;

}

.nivo-box {
	display:block;
	position:absolute;
	z-index:5;

}

/* Caption styles */

.nivo-caption {
	position:absolute;
	left: 0px;
	/* right:0px; */
	bottom:30px;
	background:#fff;
	color:#566364;
	z-index:8;
	width: 300px;
	padding: 20px;
	overflow: hidden;
	

}

.nivo-caption p {
	padding:0 !important;
	margin:0 !important;
	font-size:20px;

}

.nivo-caption a {
	display:inline !important;
	border-bottom: 1px dotted #fff;

}

.nivo-caption a:hover {
	border-bottom-style: solid;
	text-decoration: none;

}

.nivo-html-caption {
    display:none;

}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:43%;
	z-index:9;
	cursor:pointer;
	text-indent: -10000px;
	background-image: url(../images/direction.png);
	background-repeat: no-repeat;
	height:72px;
	width:45px;

}

.nivo-prevNav {
	left:20px;
	background-position: left top;
  display:none; 
}

.nivo-nextNav {
	right:20px;
	background-position: -31px top;
  display:none; 
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
   display:none; 

}

.nivo-controlNav a {
   display:none; 

}

/*****************************/

#main {
float:left;
width:585px;
text-align: left;
padding:20px;
background:#fff;
border:1px solid #e4e4e4;
margin-bottom:40px;
 
}

#main-full {
float:left;
width:900px;
text-align: left ;
margin:20px 0 20px 0;
background:#ffffff;
padding:10px;
margin-bottom:40px;

}

#main-content {
float:left;
width:585px;
text-align: left;
background:#fff;

}

#main-content-full {
float:left;


}

ul.actions  {
background:transparent;
margin:0;

}

ul.actions  li{
list-style:none;
float:right; 

}

.article-info {


}
 
dt.article-info-term {
display:none;

}

dl.article-info dd{
margin:0;
font-size:12px;
font-style:italic;

}

.items-leading {
font-weight:normal;
padding:0px 10px 10px 10px;
background:transparent;

}

.items-row {
font-weight:normal;
padding:0px 10px 10px 10px;

}

.items-leading h2 {
font-size:20px;
margin-bottom:0px;
font-weight:bold;
text-transform:capitalize;
padding:5px 0 0 0px;
height:30px;
 color:#333a3b;
 
} 

.items-leading h2 a {
 color:#333a3b;
 
} 

.items-leading h2 a:hover {
 color:#c29862; 
 
} 

.items-row  h2{
font-size:20px;
margin-bottom:0px;
font-weight:bold;
text-transform:capitalize;
padding:5px 0 0 0px;
height:30px;
color:#333a3b;
 
}

.items-row  h2 a{
 color:#333a3b;
 
}

.items-row  h2 a:hover{
 color:#c29862; 
 
}

.item-separator {
width:100%;
height:50px;
width:100%;
display:block;
background:transparent;
border-bottom:1px solid #e4e4e4;

}

.item-page {
font-weight:normal;
padding:0px 10px 10px 10px;

}

.item-page h2 {
font-size:18px;
margin-bottom:0px;
font-weight:bold;
background:transparent;
text-transform:capitalize;
padding:0;
 color:#333a3b;
 
} 


 .readmore a {
float:left;
font-weight:bold;
background:transparent;

}

.readmore a:hover {

}  

/************************/
/* COLONNES article
/************************/
/************************/
 div.cols-1 .item {
width: 100%; 

}

/*  div.cols-2 .item {
width: 50%;

 }

div.cols-3 .item {
 width:28%;
 }

div.cols-4 .item {
width: 20%;

 }

div.items-row .item {
float: left; 

} 

div.item {
 padding: 0 18px;
 margin-bottom:25px;

 }   */


.categories-list {

}



.categories-list li {
list-style:none;
}



.item-title {
font-size:18px;
margin-bottom:0px;
font-weight:bold;
color:#000;
background:transparent;
text-transform:capitalize;
padding:0;

}

ul#archive-items li {

}



/* ++++++++++++++  items more  ++++++++++++++ */
.items-more{
padding-top:10px;

}

 .items-more h3{
font-weight:normal;
margin:0;
font-size:1.4em;
margin:0 0 0 30px;

}

 .items-more ol{
line-height:1.3em;
margin:0 0 0 10px;

}

 .items-more ol li{
padding:2px;

}

 .items-more ol li a {
display:inline;
margin:0;
font-weight:normal;

}

 .items-more ol li a:hover,
 .items-more ol li a:active,
 .items-more ol li a:focus {
font-weight:normal;
text-decoration:none

} 


/* Pagination ---*/

 .counter {
text-align:center;

}

.pagination {
 float: left;
 width: 100%;
 padding:10px 0;
 text-align:center;

}

.pagination li {
background: none;
display: inline;
margin: 0;
padding: 6px;
margin:0 3px;
overflow: hidden;

}

.pagination li span {
padding: 6px; 
line-height: 20px;

}

.pagination a {
background:#fff;
line-height: 20px;
padding:6px;
text-decoration: none;
color:#091f44;
border:1px solid #e7e7e2;

}

.pagination a:hover, .pagination a:active, .pagination a:focus {
text-decoration: none;
background:#fff;
border:1px solid #e7e7e2;
color:#f7d678;

} 

 ul.pagenav {
 position:relative;

}

ul.pagenav li {
 list-style: none;
 padding: 8px;
 background:transparent;

}

ul.pagenav li a{

}

ul.pagenav li:hover, ul.pagenav li:focus {
padding: 8px;

}

ul.pagenav li.pagenav-prev {
float: left;


}

ul.pagenav li.pagenav-next { 
float:right;

}

/******************/
 
 #right {
 float:left;
 width:260px;
 background:transparent;
  margin-bottom:20px;
  
 }
 
 #right h3 {
 font-size:20px;
 font-weight:bold;
 color:#333a3b;
 background:transparent;
 padding-top:5px;
 margin:15px 0 0 15px;
 text-transform:capitalize;
 height:30px;
 
 }
 
 #right ul {
 padding-left:20px;
 padding-top:15px;
 
 }
 
 #right .moduletable_menu,
 #right .moduletable {
 width:250px;
 background:#fff ;
 border:1px solid #e4e4e4;
 padding:10px;
 padding-bottom:20px; 
 box-shadow: 2px 1px 1px #fafafa;
 text-align:left;
 
 }
 
 /*******************/
 #wrapper-box {
 float:left;
 width:100%;
 background: url(../images/bg-box.jpg) 0px 0 repeat;
 padding-top:15px;
 padding-bottom:15px;
 
 }
 
  .box {
float:left;
width:200px;
background:transparent ;
margin-right:20px;
color:#317b94;

}

.box img{
margin:0 0 5px 0;

}

.box .moduletable,
.box .moduletable_menu {
background:transparent;
text-align:left;
font-weight:normal;
width:88%;
margin-left:20px;
font-size:12px;
padding-bottom:10px;
color:#fff;
}

.box .moduletable h3,
.box .moduletable_menu h3 {
width:100%;
font-size:20px;
color:#fff;
text-transform:capitalize;
background: transparent;

}

.box .moduletable a,
.box-f .moduletable a,
.box-f .moduletable_menu a,
.box .moduletable_menu a {
 color:#fff;

}

.box .moduletable a:hover,
.box-f .moduletable a:hover,
.box-f .moduletable_menu a:hover,
.box .moduletable_menu a:hover {
 color:#000;

}

 
 #ftb {
 float:left;
 width:100%;
 height:50px;
 background: url(../images/ftb.jpg) 0 0 repeat;
 
 }
 
 .ftb-c {
float:left;
text-align:center;
font-weight:bold;
font-size:13px;
width:780px;
font-size:13px !important;
background: transparent;
margin-top:20px;
color:#fff;

}

.ftb-c a{
padding:0 !important;
border:none !important;
font-weight:bold;
font-size:13px !important;
color:#fff;

} 

.ftb-c a:hover{
padding:0 !important;
border:none !important;
color:#fff;

} 

#top {
float:left;
width:30px;
height:30px;
margin-top:10px;
padding:0 !important;
border:none !important;
background:transparent;

}

.top_button {
padding:0 !important;
border:none !important;

}
