a{
	color: white;
	text-decoration: none;
}
body {
	right:0% !important;
	overflow: hidden;
}

h1{
	color:orange
}

div#Aktuelles {
    background:url(orange.jpg); 
    background-repeat: no-repeat;
	padding-left:30px;
	padding-right:35px;
	padding-top:42px;
	padding-bottom:48px;
	top:150px;
	left:30%;
	position:relative;
} 

div#Impressum {
    background:url(orange.jpg); 
    background-repeat: no-repeat;
	padding-left:25px;
	padding-right:35px;
	padding-top:42px;
	padding-bottom:48px;
	top:200;
	left:50%;
	position:relative;
} 

div#USchule {
    background:url(orange.jpg); 
    background-repeat: no-repeat;
	padding-left:14px;
	padding-right:35px;
	padding-top:42px;
	padding-bottom:48px;
	top:150;
	left:20%;
	position:relative;
} 

div#Angebot {
    background:url(orange.jpg); 
    background-repeat: no-repeat;
	padding-left:30px;
	padding-right:35px;
	padding-top:42px;
	padding-bottom:48px;
	top:50px;
	left:70%;
	position:relative;
} 

div#Schulteam {
    background:url(orange.jpg); 
    background-repeat: no-repeat;
	padding-left:40px;
	padding-right:30px;
	padding-top:42px;
	padding-bottom:48px;
	top:-250px;
	left:80%;
	position:relative;
} 