<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php-5.4.1" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\iPack\Programme\php5\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
