<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP Module" />
            <add name="PHP541_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\iPack\Programme\php5\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
